<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <p>hello</p>
  </div>
  <script>
    const getCookie = async () => {
      const thirdPartyDomain = "<%= thirdPartyDomain %>"

      const data = await fetch(`https://${thirdPartyDomain}`, {
        method: 'GET',
        credentials: 'include'
      })

      console.log(data.json)
    }

    getCookie()
  </script>
</body>
</html>
